<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>VDT24 Cloud</title>
</head>
<body>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addStudentModal">Add Student</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>University</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="list-students"></tbody>
                </table>    
            </div>
        </div>
    </main>

    <!-- Modal adding student -->
    <div class="modal" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="addStudentForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <input type="text" class="form-control" id="gender" name="gender" required>
                        </div>
                        <div class="form-group">
                            <label for="birth">Birth Year</label>
                            <input type="text" class="form-control" id="birth" name="birth" required>
                        </div>
                        <div class="form-group">
                            <label for="university">University</label>
                            <input type="text" class="form-control" id="university" name="university" required>
                        </div>
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" name="country" required>
                        </div>
                        <button type="button" class="btn btn-primary" id="create">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal seeing student -->
    <div class="modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">Student Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p><strong>Name:</strong> <span id="detailName"></span></p>
                    <p><strong>Gender:</strong> <span id="detailGender"></span></p>
                    <p><strong>Birth Year:</strong> <span id="detailBirth"></span></p>
                    <p><strong>University:</strong> <span id="detailUniversity"></span></p>
                    <p><strong>Country:</strong> <span id="detailCountry"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal editing student -->
    <div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="editId">
                    <div class="form-group">
                        <label for="editName">Name</label>
                        <input type="text" class="form-control" id="editName" name="editName">
                    </div>
                    <div class="form-group">
                        <label for="editGender">Gender</label>
                        <input type="text" class="form-control" id="editGender" name="editGender">
                    </div>
                    <div class="form-group">
                        <label for="editBirth">Birth Year</label>
                        <input type="text" class="form-control" id="editBirth" name="editBirth">
                    </div>
                    <div class="form-group">
                        <label for="editUniversity">University</label>
                        <input type="text" class="form-control" id="editUniversity" name="editUniversity">
                    </div>
                    <div class="form-group">
                        <label for="editCountry">Country</label>
                        <input type="text" class="form-control" id="editCountry" name="editCountry">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="update">Update</button>
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        function sendData() {
            var name = document.getElementById('name').value; 
            var gender = document.getElementById('gender').value; 
            var birth = document.getElementById('birth').value; 
            var university = document.getElementById('university').value; 
            var country = document.getElementById('country').value; 
            $.ajax({
                url: 'http://backend-service:5000/api/', 
                type: 'POST', 
                contentType: 'application/json',
                data: JSON.stringify({
                    'name': name, 
                    'gender': gender,
                    'birth': birth,
                    'university': university,
                    'country': country }), 

                success: function(response) { 
                    alert('Student added!');
                    loadStudents(); 
                }
            });
        }

        function loadStudents() {
            $.ajax({
                url: 'http://backend-service:5000/api/', 
                type: 'GET', 
                success: function(response) {
                    var students = response;
                    var studentList = '';
                    students.forEach(function(student) {
                        studentList += '<tr>';
                        studentList += '<td>' + student.name + '</td>';
                        studentList += '<td>' + student.gender + '</td>';
                        studentList += '<td>' + student.university + '</td>';
                        studentList += '<td>';
                        studentList += '<button class="btn btn-info view-detail" data-id="' + student.id + '">View</button>';
                        studentList += '<button class="btn btn-warning edit" data-id="' + student.id + '">Edit</button>';
                        studentList += '<button class="btn btn-danger delete" data-id="' + student.id + '">Delete</button>';
                        studentList += '</td>';
                        studentList += '</tr>';
                    });

                    $('#list-students').html(studentList);
                    $('.delete').on('click', function() {
                        var id = $(this).data('id');
                        deleteStudent(id);
                    });

                    $('.view-detail').on('click', function() {
                        var id = $(this).data('id');
                        viewDetail(id);
                    });

                    $('.edit').on('click', function() {
                        var id = $(this).data('id');
                        editStudent(id);
                    });
                },
            });
        }

        function deleteStudent(id) {
            $.ajax({
                url: 'http://backend-service:5000/api/' + id,
                type: 'DELETE',
                success: function(response) {
                    alert('Student deleted');
                    loadStudents(); },
            });
        }

        function viewDetail(id) {
            $.ajax({
                url: 'http://backend-service:5000/api/' + id,
                type: 'GET',
                success: function(response) {
                    var student = response;
                    $('#detailName').text(student.name);
                    $('#detailGender').text(student.gender);
                    $('#detailBirth').text(student.birth);
                    $('#detailUniversity').text(student.university);
                    $('#detailCountry').text(student.country);
                    $('#detailModal').modal('show');
                }
            });
        }

        function editStudent(id) {
            $.ajax({
                url: 'http://backend-service:5000/api/' + id,
                type: 'GET',
                success: function(response) {
                    var student = response;
                    $('#editId').val(student.id);
                    $('#editName').val(student.name);
                    $('#editGender').val(student.gender);
                    $('#editBirth').val(student.birth);
                    $('#editUniversity').val(student.university);
                    $('#editCountry').val(student.country);
                    $('#editModal').modal('show');
                }
            });
         }

        function updateStudent() {
            var id = document.getElementById('editId').value; 
            var name = document.getElementById('editName').value; 
            var gender = document.getElementById('editGender').value; 
            var birth = document.getElementById('editBirth').value; 
            var university = document.getElementById('editUniversity').value; 
            var country = document.getElementById('editCountry').value; 

            $.ajax({
                url: 'http://backend-service:5000/api/' + id,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    'name': name,
                    'gender': gender,
                    'birth': birth,
                    'university': university,
                    'country': country
                }),
                success: function(response) {
                    alert('Student updated successfully');
                    $('#editModal').modal('hide');
                    loadStudents(); 
                }
            });
         }

        $(document).ready(function() {
            $('#create').on('click', sendData);
            $('#update').on('click', updateStudent);
            loadStudents(); 
        });
    </script>
</body>
</html>
